<div class="ms-auto">
  <ul class="list-unstyled">
  
    <li>
      <div class="dropdown pc-h-item header-user-profile" ngbDropdown>
        <a
          class="pc-head-link head-link-primary dropdown-toggle arrow-none me-0"
          data-bs-toggle="dropdown"
          href="javascript:"
          ngbDropdownToggle
        >
          <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar" />
          <span>
            <i class="ti ti-settings"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown" style="height:200px;" ngbDropdownMenu>
          <div class="dropdown-header">
            <h4> Good Morning, </h4>
            
            <ng-scrollbar style="height: calc(100vh - 280px)" visibility="hover"> 
              <hr />
              <!--
              <a [routerLink]="['/guest/register']" class="dropdown-item">
                <i class="ti ti-settings"></i>
                <span>Account Profile</span>
              </a>-->
              <a [routerLink]="['/guest/login']" class="dropdown-item">
                <i class="ti ti-logout"></i>
                <span>Logout</span>
              </a>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
