<div class="row">
  <!-- [ Typography ] start -->
  <div class="col-sm-12">
    <div class="card">
      <div class="container">
        <header class="text-center my-5">
            <h1>Welcome to Ben Amara</h1>
            <p>Your Gateway to Programming Mastery</p>
        </header>

        <section>
            <h2>Key Features</h2>

            <div class="row">
                <div class="col-lg-4">
                    <h3>Comprehensive Course Catalog</h3>
                    <p>Explore a diverse range of programming languages, frameworks, and technologies. From beginner-friendly introductions to advanced topics, we have courses tailored to various skill levels.</p>
                </div>
            </div>
        </section>

        <section class="my-5">
            <h2>Start Your Coding Journey Today</h2>
            <p>Sign up for Ben Amara and embark on a journey to unlock the door to a future fueled by code. Whether you're a beginner or an experienced developer looking to upskill, we are here to support your growth and success in the world of programming.</p>
        </section>
    </div>
    </div>
  </div>
</div>
