
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header" style="background-color: aliceblue;">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
        <h2>Add Course</h2>
        <div *ngIf="error" class="alert alert-danger" role="alert">
          {{ error }}
        </div>
        <h4>Title</h4>
        <input type="text" class="form-control" formControlName="title" >
        <br>
        <h4>Lesson</h4>
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
          <ngx-editor formControlName="editor" [editor]="editor" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
        </div>
        <br>
        <h4>QCM</h4>
        <input formControlName="question" type="text" class="form-control"  />
        <br>
        <table width="70%">
          <tr>
            <td><input formControlName="c" class="form-check-input" type="radio" name="c" value="o1"></td>
            <td><input formControlName="o1" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input formControlName="c" class="form-check-input" type="radio" name="c" value="o2"></td>
            <td><input formControlName="o2" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td><input formControlName="c" class="form-check-input" type="radio" name="c" value="o3"></td>
            <td><input formControlName="o3" type="text" class="form-control"></td>
          </tr>
        </table>

        <div style="margin:50px auto;width: fit-content;">
          <button type="submit" class="btn btn-primary" >Add</button>
        </div>
       </form>
      </div>
    </div>
  </div>
</div>
